<tr>
	<td class="copyFragment" style="color: #4d4d4f; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 1.5; padding: 10px 0px 5px 0px;">
<b>Coleman - Real-world evidence of stroke prevention*<br>
<a href="http://eorder.sheridan.com/3_0/display/index.php?flashprint=12188" style="color: #401276; text-decoration: none">Real-world evidence of stroke prevention in patients with nonvalvular atrial fibrillation in the UnitedStates: the REVISIT-US study</a></b><br>
<span style="font-size: 12px; font-style: normal;">*Results are not intended for direct comparison with clinical trials.</span>
</td>
</tr>
<tr><td style="border-bottom: 3px solid #4d4a4b;"></td><tr></tr>
