
<tr>
	<td class="copyFragment" style="color: #4d4d4f; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 1.5; padding: 10px 0px 5px 0px;">
<b>
				Patel - ROCKET AF Rivaroxaban v. Warfarin<br>
			<a href="https://www.nejm.org/doi/full/10.1056/NEJMoa1009638" style="color: #401276; text-decoration: none">Rivaroxaban versus Warfarin in Nonvalvular Atrial Fibrillation
</a></b></td>
</tr>
<tr><td style="border-bottom: 3px solid #4d4a4b;"></td><tr></tr>